body{
    background-image: url(https://cutewallpaper.org/21/background-gif-html/Animated-Gif-Background-Image-Html-a-The-Best-HD-Wallpaper.gif);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }